* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #565656;
  font-family: "Poppins", sans-serif;
}
/************************general*************************************/
main section,
footer {
  padding: 20px;
}
img {
  display: block;
}
h1 {
  font-weight: 300;
}
button {
  background-color: white;
  border: 1px solid #565656;
  cursor: pointer;
  text-align: center !important;
  padding: 0.5rem;
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}
/************************get start section*************************************/

#get-start img {
  width: 190px;
  height: 180px;
  margin: 30px auto;
  border-radius: 50%;
}

.description {
  text-align: center;
}
.title {
  width: max-content;
  margin: 20px auto 5px;
  font-size: 27px;
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background-color: black;
}
#get-start .title {
  font-size: 32px;
}

/*****************************services section********************************************/
div#services-icon {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
}
ion-icon {
  border: 2px #565656a6 solid;
  display: block;
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 50%;
  margin: 5px 13px;
}
/*****************************duis section********************************************/
#duis-torquent-continer {
  margin-top: 40px;
}
.duis-img img {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.test {
  margin-top: 30px;
}

#amet-ullamcorper {
  padding: 100px 20px;
  height: 80vh;
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
#amet-ullamcorper::after {
  content: "";
  background-image: url(/images/background.jpg);
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
#amet-ullamcorper .title,
#amet-ullamcorper .description {
  color: rgb(255, 255, 255);
}
#amet-ullamcorper button {
  background-color: unset;
  color: rgb(255, 255, 255);
  border: 1px solid white;
}
/***************************** footer ********************************************/
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #e3e3e341;
}
form {
  width: 100%;
}
form input,
form textarea {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px 4px;
  margin-top: 10px;
  border: #5656563d 2px solid;
}
#contact-continer {
  text-decoration: none;
  /* border: red solid 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 20px 8px;
}
#contact-continer ion-icon {
  border: 2px #565656a6 solid;
  display: block;
  width: 25px;
  height: 25px;
  padding: 8px;
  border-radius: 50%;
  margin: 5px 5px;
}
/***************************** Media query min 600px ********************************************/

@media (min-width: 600px) {
  p {
    font-size: 16px;
  }
  #get-start {
    display: flex;
  }
  main section,
  footer {
    padding: 20px 100px;
  }
  .duis-child div {
    width: 47%;
  }
  #duis-torquent-continer .duis-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .unique {
    flex-direction: row-reverse;
  }
  button.half {
    width: max-content;
    margin: 0 auto;
    display: block;
    padding: 0.2rem 1rem;
    margin-top: 20px;
  }
  button.left {
    width: max-content;
    margin-left: 20px;
    display: block;
    padding: 0.2rem 1rem;
  }
  #get-start button,
  #services button {
    width: max-content;
    padding: 0.5rem 4rem;
    margin: 20px auto;
    display: block;
  }
  #amet-ullamcorper .title,
  #amet-ullamcorper .description {
    width: 70%;
    text-align: center;
    margin: 10px auto;
  }

  form,
  div#footer-first-parent {
    width: 50%;
  }
}
/***************************** Media query min 900px ********************************************/

@media (min-width: 900px) {
  p {
    font-size: 16px;
  }
  main section {
    padding: 20px 18%;
  }
  #footer-first-parent .description {
    width: 90%;
    text-align: start;
    margin-left: 0;
  }
  #footer-first-parent .title {
    width: max-content;
    margin: 20px 5px;
    font-size: 27px;
    position: relative;
    text-align: start;
  }
  #footer-first-parent .title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 15%;
    transform: translateX(-50%);
    width: 60px;
    height: 1px;
    background-color: black;
  }
}

/***************************** Media query min 1200px ********************************************/

@media (min-width: 1200px) {
  p {
    font-size: 20px;
  }
}
